[submodule "submodules/sonLib"]
	path = submodules/sonLib
	url = git://github.com/benedictpaten/sonLib.git
[submodule "submodules/jobTree"]
	path = submodules/jobTree
	url = git://github.com/benedictpaten/jobTree.git
[submodule "submodules/matchingAndOrdering"]
	path = submodules/matchingAndOrdering
	url = git://github.com/benedictpaten/matchingAndOrdering.git
[submodule "submodules/pinchesAndCacti"]
	path = submodules/pinchesAndCacti
	url = git://github.com/benedictpaten/pinchesAndCacti.git
[submodule "submodules/hal"]
	path = submodules/hal
	url = git://github.com/glennhickey/hal.git
[submodule "submodules/cactus2hal"]
	path = submodules/cactus2hal
	url = git://github.com/glennhickey/cactus2hal.git
[submodule "submodules/cactus"]
	path = submodules/cactus
	url = git://github.com/benedictpaten/cactus.git
[submodule "submodules/kyototycoon"]
	path = submodules/kyototycoon
	url = git://github.com/UCSCReconGroup/kyototycoon.git
[submodule "submodules/tokyocabinet"]
	path = submodules/tokyocabinet
	url = git://github.com/UCSCReconGroup/tokyocabinet.git
[submodule "submodules/hdf5"]
	path = submodules/hdf5
	url = git://github.com/UCSCReconGroup/hdf5.git
[submodule "submodules/kyotocabinet"]
	path = submodules/kyotocabinet
	url = git://github.com/UCSCReconGroup/kyotocabinet.git
[submodule "submodules/virtualenv"]
	path = submodules/virtualenv
	url = git://github.com/pypa/virtualenv.git
[submodule "submodules/networkx"]
	path = submodules/networkx
	url = git://github.com/networkx/networkx.git
[submodule "submodules/psutil"]
	path = submodules/psutil
	url = git://github.com/tamentis/psutil.git
[submodule "submodules/cactusTestData"]
	path = submodules/cactusTestData
	url = git://github.com/UCSCReconGroup/cactusTestData.git
[submodule "submodules/pbs-drmaa"]
	path = submodules/pbs-drmaa
	url = git://github.com/UCSCReconGroup/pbs-drmaa
[submodule "submodules/drmaa-python"]
	path = submodules/drmaa-python
	url = git://github.com/UCSCReconGroup/drmaa-python
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = git://github.com/madler/zlib
[submodule "submodules/clapack"]
	path = submodules/clapack
	url = git://github.com/UCSCReconGroup/clapack
[submodule "submodules/phast"]
	path = submodules/phast
	url = git://github.com/UCSCReconGroup/phast
[submodule "submodules/biopython"]
	path = submodules/biopython
	url = git://github.com/biopython/biopython.git
